<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text to Morse Code</title>
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <style>
    h1 {
      color: white;
    }
    * {
    text-align: center;
    }
    body {
    background-color: #333;
    color: white;
    }
    </style>
</head>
<body>
    <h1> Welcome to Text to Morse Code Converter </h1>
    <form action="/convert" method="post">
    <input type="text" placeholder="Insert the text here" name="text">
    <button type="submit">Convert</button>
    </form>
</body>
</html>